:root {
  --team-photo-x:;
  --aspect-reito: calc(4/3); /* アスペクト比 4:3 */
}


h4 {
  font-size: 2.25rem;
  font-weight: bold;
  display: block;
}

ul.member_list {
  display: block;
  font-size: 1.25rem;
  margin-top: 1vw;
}
@media (max-width: 1000px) {
  h4 {
    font-size: 4vw;
  }
}

img {
  width: 40vw;
  height: calc(40vw / var(--aspect-reito));
  margin: calc((30vw - (40vw / var(--aspect-reito))) / 2) 0;
  max-width: 380px;
  max-height: calc(380px / var(--aspect-reito));
}

dl#intro_teams {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 30vw);
    width: 80vw;
    margin: 0 auto;
}

#intro_teams dt,
#intro_teams dd {
  text-align: center;
  vertical-align: middle;
}


/*
#intro_member {

  background-color:#21252b;
  color:white;

}
#intro_member li{
  display:block;
  height:300px;
}

#intro_member li img {

  position: absolute;
  width: 400px;
  height: 260px;

}

#intro_member li div {

  position:absolute;
  left: 500px;
}


#intro_member h4{
  text-align:center;
  font-weight: bold;
  font-size: 1.5rem;
}

.photostream {

  position: absolute;
  width: 40px;
      height: 40px;


}
*/
